/* Le curseur */
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #75b45a;
    display: flex;
    overflow-x: hidden;
    padding: 30px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: 1s ease-in-out;
    font-size: clamp(15px, 4vw, 40px);
    font-weight: bold;
    z-index: 9999; /* assure-toi qu'il se trouve au-dessus du contenu */
  }
  .lettre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation:anim-welcome 1.5s linear infinite;
  }
  @keyframes anim-welcome{
    0%{
        color:#484848;
        text-shadow: 0px 0px 7px yellow;
    }
    90%{
        color:yellow;
        text-shadow: none;
    }
    100%{
        text-shadow: none;
        color:#484848;
    }
  }
  .lettre:nth-child(1){
    animation-delay: 0.1s;
  }
  .lettre:nth-child(2){
    animation-delay: 0.2s;
  }
  .lettre:nth-child(3){
    animation-delay: 0.3s;
  }
  .lettre:nth-child(4){
    animation-delay: 0.4s;
  }
  .lettre:nth-child(5){
    animation-delay: 0.5s;
  }
  .lettre:nth-child(6){
    animation-delay: 0.6s;
  }
  .lettre:nth-child(7){
    animation-delay: 0.7s;
  }
  .lettre:nth-child(8){
    animation-delay: 0.8s;
  }
  .lettre:nth-child(9){
    animation-delay: 0.9s;
  }
  .lettre:nth-child(10){
    animation-delay: 01s;
  }
  .lettre:nth-child(11){
    animation-delay: 1.1s;
  }
  .lettre:nth-child(12){
    animation-delay: 1.2s;
  }
  .lettre:nth-child(13){
    animation-delay: 1.3s;
  }
body .app{
    background-color: #FE748F;
    display: flex;
    width: 450px;
    height: 50%;
    position: relative;
  padding: 20px;
    border-radius: 7px;
    justify-content: center;
    box-shadow: 0px 2px 2px rgb(98, 86, 86);
    align-items: center;
    flex-direction: column;
}
input:focus{
    border: none;
}
#generateButton{
 
    padding: 15px 16px;
    border: none;
    font-size: 1.2rem;
    border-radius: 34px;
    cursor: pointer;
    font-weight: bold;
    background-color: #9fe183;
}

.input-text1{
    position: absolute;
    top: 20px;
    left: 20%;
text-align: center;
padding: 9px 8px;
border-radius: 4px;
    font-size: 1.2rem;
       cursor: pointer;
       font-weight: bold;
}
#display-password-length{
    padding: 10px;
background-color: #FE748F;
    border: none;
    
    width: 50px;
    font-size: 1.3rem;
}

label{
background: white;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 7px rgb(98, 86, 86);
    border-radius: 15px;
}
.chexkbox-container{
    padding-top: 45px;
  
  
}
input[type='checkbox']{
    cursor: pointer;
  
}

.app2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
   margin-left: 0;
}

